_ngo/
_xmsgs/
iseconfig/
*_xdb/
xst/

*.bak
*.bgn
*.bit
*.bld
*.cmd_log
*.csv
*.drc
*.gise
*.html
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.rom
*.stx
*.syr
*.twr
*.twx
*.txt
*.ucf
*.unroutes
*.ut
*.xise
*.xml
*.xpi
*.xrpt
*.xst
*.xwbt

